* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}
body {
  position: relative;
  background-color: lightblue;
}

.task1_button {
  margin: 5px 5px 10px 5px;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}
.task1_par {
  margin: 5px 0 10px 5px;
}
.task1_p {
  font-size: 20px;
  font-weight: bold;
}
.task1_div {
  display: inline-block;
  border: 1px solid black;
  margin: 5px 0 0 5px;
  border-radius: 5px;
  padding: 3px;
}

.task2_ul {
  margin: 25px 0 5px 25px;
  list-style: none;
  display: flex;
}

.task2_div {
  display: flex;
}
.task2_p {
  font-size: 20px;
  font-weight: bold;
  margin: 45px 0 0 155px;
}

.task2_li {
  padding: 25px 0 0 0;
  cursor: pointer;
  width: 95px;
  height: 80px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
}

.task3_p,
.task4_p {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 780px;
}

.task3_movieImg {
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 10px;
  cursor: pointer;
  width: 60px;
}
.task3_movieTitle {
  margin-left: 15px;
  cursor: pointer;
}

.show {
  opacity: 1;
}
.hide {
  opacity: 0;
}

.movie_description:not(:last-child) {
  margin-bottom: 37px;
}

.keyboard {
  display: flex;
  max-width: 578px;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: center;
  margin: 0 auto;
}
.btn {
  width: 40px;
  height: 35px;
  font-size: 16px;
  line-height: 35px;
  cursor: pointer;
  background-color: azure;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 2px 8px black;
}
.btn:hover {
  background-color: rgba(241, 241, 241, 0.54);
  transition: all 0.1s ease-out;
}
.btn:active {
  font-size: 20px;
}

.letter_p {
  position: absolute;
  bottom: 42px;
  left: 400px;
  font-size: 70px;
  border: 1px solid azure;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  background-color: azure;
  opacity: 0;
}
